#scenario-info-component {
    padding: 10px;
}
.faded {
    opacity: 0.26;
}
h2 {
    text-align: center;
    color: #000000;
    opacity: 0.87;
}
.button-row button {
    margin-right: 8px;
}
button[mat-stroked-button] {
    margin-bottom: 60px;
    width: 40%;
}
mat-button-toggle-group {
    width: 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
}
mat-button-toggle {
    text-align: center;
    width: 33.33334%;
}
mat-button-toggle.mat-button-toggle-checked {
    background-color: #3f51b5;
    color: #ffffff;
    font-weight: 500;
}
mat-form-field {
    width: 100%;
}
mat-form-field textarea {
    height: 100px;
}
.treasure-description {
    margin-left: 30px;
}
@media (max-width: 1023px) {
    .button-row button {
        margin-right: 0;
    }
    button[mat-stroked-button] {
        width: 100%;
    }
    mat-button-toggle-group {
        flex-direction: column;
    }
    mat-button-toggle {
        width: 100%;
    }
}
