<div class="wrapper">
    <app-export-tree [scenarios]="scenarios" (importScenarios)="handleScenariosImport($event)"></app-export-tree>
    <app-scenario-info
      [scenarios]="scenarios"
      [selectedScenario]="selectedScenario"
      (selectScenario)="handleScenarioSelect($event)"
      (updateScenario)="handleScenarioUpdate($event)">
    </app-scenario-info>
  <app-tree [elements]="scenarios" [selectedScenario]="selectedScenario" (selectScenario)="handleScenarioSelect($event)" (updateScenario)="handleScenarioUpdate($event)"></app-tree>
</div>

