@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 
    font: 14px "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#info {
    color: #c88;
    font-size: 1em;
    position: absolute;
    z-index: -1;
    left: 1em;
    top: 1em;
}
.mat-dialog-container {
    position: relative;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}