<mat-list>
  <mat-list-item> <mat-icon aria-hidden="true">fiber_manual_record</mat-icon> Incomplete </mat-list-item>
  <mat-list-item> <mat-icon aria-hidden="true" style="color: #3f51b5">panorama_fish_eye</mat-icon> Attempted </mat-list-item>
  <mat-list-item> <mat-icon aria-hidden="true" style="color: #3f51b5">fiber_manual_record</mat-icon> Complete </mat-list-item>
  <mat-list-item> <mat-icon aria-hidden="true" style="color: #f44336">fiber_manual_record</mat-icon> Blocked </mat-list-item>
  <mat-list-item> <mat-icon aria-hidden="true" style="color: #c9c9c9">fiber_manual_record</mat-icon> Requirements Not Met </mat-list-item>
  <mat-list-item> <div class="example-arrow-lines" aria-hidden="true"></div> Unlocks </mat-list-item>
  <mat-list-item> <div class="example-arrow-lines" aria-hidden="true" style="border-style: dotted"></div> Links To </mat-list-item>
  <mat-list-item> <div class="example-arrow-lines" aria-hidden="true" style="color: #f44336"></div> Blocks </mat-list-item>
  <mat-list-item> <div class="example-arrow-lines" aria-hidden="true" style="color: #69f0ae"></div> Is Required By </mat-list-item>
 </mat-list>
